body {
    background: linear-gradient(to left top, rgba(255, 166, 0, 0.51), rgba(131, 82, 9, 0.762)) fixed;
  
  }
  
body img{
    border:1.3px solid rgb(90, 84, 84);
}


.BGP{
    position:absolute;
    z-index:1;
    opacity:.45;
    top:40%;
    left:30%;
    border:none;
}

nav a {text-decoration:none; opacity:.8; color:rgb(136, 118, 18); padding:20px 20px 10px 20px; border-radius:15px;}
nav a:hover {font-weight:bold; opacity:1; background:rgb(23, 102, 129);}
nav .NavGrid {display:grid; grid-template-columns:1fr 1fr 1fr; justify-items: center;}
nav .NavBox {font-size:17px;}
.Home { position:relative;} 
.Home a{color:rgb(162, 39, 162); font-weight:bold; }
.Home a:hover{zoom:105%; background:none;}
nav .Home img{
    border:none;
    position:absolute;
    top:-2px;
    left:-15px;
    width:50%;
    z-index:-1;
    
}

header .PageTitle {font-size:35px; text-align:center; color:rgb(195, 36, 187); font-style:oblique;}

.GridContainer{
    display:grid;
    grid-template-columns:1fr 1fr 1fr; 
    width:100%;
    margin:0 auto 0 auto;
    grid-gap:15px;
}

.GridBox {
    background-image:-webkit-linear-gradient(top left, rgb(164, 99, 180), white);   
    border-top:2.5px solid magenta;
    border-radius:15px;
    padding:2px 25px 15px 25px; 
}

.GridBox2{
    background-image:-webkit-radial-gradient(top, rgb(124, 163, 198) 35%, white 90%, rgb(124, 163, 198));   
    border-top:2.5px solid rgb(58, 58, 174);
    border-radius:15px;
    padding:2px 25px 15px 25px; 
}

.GridBox3{
    background-image:-webkit-linear-gradient(top right, rgb(124, 198, 174) 15%, white 45%, rgb(124, 198, 174), white);  
    border-top:2.5px solid rgb(92, 0, 28); 
    border-radius:15px;
    padding:2px 25px 15px 25px; 

}


}
.GridBox span{
    color:green;
    font-weight:bold;
}


.MidTitle{
    font-weight:bold;
    font-size:17px;
    color:green; 
    text-align:center;
}

.LeftTitle{
    font-weight:bold;
    font-size:17px;
    color:rgb(195, 36, 187); 
    text-align:center;
}

.MidText{
    text-align:center;
    font-size:14px;
}

.RightTitle{
    text-align: center;
    font-size:17px;
    color:rgb(195, 36, 187); 
    text-align:center;
}

.RightText{
    color:blue;
}